html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


* {
    font-family: "Segoe UI", sans-serif;;
}

header {
    height: 8%;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    background-color: #003E5B;
    flex-wrap: wrap;
}

.extremite {
    padding: 1%;
    color: #fff;
}

#rechercheProduit {
    width: 50%;
}

header input {
    text-align: center;
    height: 60%;
    margin-top: 1vh;
    width: 100%;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 1.2em;
}


#btnConnexion {
    float: right;
    cursor: pointer;
    display: block;
    height: 100%;
    line-height: 60px;
    vertical-align: middle;
    padding-right: 10px;
    color: #fff;
    text-decoration: none;
}

.hide{
    display: none;
}

.show{
    display:block;
}

.apercuProduit img {
    margin: auto;
}

#boutique {
    display: flex;
    flex-flow: row wrap;
}

.extremite a, .extremite a:visited, .extremite a:hover, .apercuProduit a:visited, .apercuProduit a:hover {
    text-decoration: none;
    color: white;
}

.apercuProduit {
    color: #fff;
    margin: 1vw;
    text-align: center;
    background: tomato;
    padding: 1%;
    font-family: "Segoe UI", sans-serif;
    order: 9999;
}

.button {
    margin: auto;
    background-color: #008BCD;
    color: #fff;
    padding: 5px;
    height: 6%;
    border: none;
}

.button:hover {
    cursor: pointer;
}

.nombreProduit {
    width: 15%;
    height: 6%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    border: none;
    background-color: white;
}

.produitRecherche {
    order : 1;
}

.apercuProduit a{
    cursor: pointer;
    text-decoration: underline;
}

.fa-cart-plus, .fa-spinner {
    font-size: 4vh;
    padding: 3%;
}

.fa-spinner {
    animation: rotate 2s infinite;
    -webkit-animation: rotate 2s infinite;
}

.fa-cart-plus:hover {
    text-shadow: 1px 1px black;
}

#affichageErreur {
    position: fixed;
    width: 45%;
    height: 45%;
    left: 27.5% ;
    z-index: 2000;
    top: 27.5%;
}

#messageErreur {
    text-align: center;
    line-height: 40vh;
    background-color: #003E5B;
    color: #fff;
    font-family: "Segoe UI", sans-serif;
}

#codeErreur {
    position: absolute;
    bottom: 7vh;
    right: 1vw;
    background-color: #003E5B;
    color: #fff;
    font-family: "Segoe UI", sans-serif;
}

#affichageOk {
    position: fixed;
    width: 45%;
    height: 45%;
    left: 27.5% ;
    z-index: 2000;
    top: 27.5%;
}

#messageOk {
    min-height: 30%;
    text-align: center;
    background-color: #003E5B;
    color: #fff;
    font-family: "Segoe UI", sans-serif;;
}

#affichageErreur a:hover,
#affichageOk a:hover{
    cursor: pointer;
}

.panier {
    background-color: green;
    position: absolute;
    right: 1%;
    top: 8%;
    color: #fff;
}

.fa-cart-arrow-down{
    font-size: 4vh;
    padding: 10%;
    float: right;
}

#affichePanier:hover {
    cursor: pointer;
    text-shadow: 1px 1px black;;
}

#tablePanier td{
    border: 1px solid black;
    text-align: center;
    padding: 2%;
}

#affichageCompte {
    cursor: pointer;
}

#gestionProduits {
    cursor: pointer;
    color: black;
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 2vh;
    background-color: green;
    padding: 1%;
}

#gestionProduits i {
    font-size: 3vh;
}

.tableauCommandes td {
    border: 1px solid black;
    width: 10vh;
}

/************************************************/
/****************** ANIMATIONS ******************/
/************************************************/

@keyframes rotate {
    0%{
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

/************************************************/
/****************** ANIMATIONS ******************/
/************************************************/