html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


* {
    font-family: "Segoe UI", sans-serif;;
}

header {
    height: 68px;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    background-color: #003E5B;
    flex-wrap: wrap;
}

.extremite {
    padding: 0 1%;
    color: #fff;
    display:flex;
    width: 33%;
    justify-content: flex-end;
    box-sizing: border-box;
}

#rechercheProduit {
    width: 33%;
}

header input {
    text-align: center;
    height: 60%;
    margin: 2% 0;
    width: 100%;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 1.2em;
}


#btnConnexion {
    float: right;
    cursor: pointer;
    display: block;
    height: 100%;
    line-height: 60px;
    vertical-align: middle;
    padding-right: 10px;
    color: #fff;
    text-decoration: none;
}

.hide{
    display: none;
}

.show{
    display:block;
}

.apercuProduit img {
    margin: auto;
    width: 100%;
}

#boutique {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    flex-wrap: wrap;
    padding: 2%;
}

.extremite a, .extremite a:visited, .extremite a:hover, .apercuProduit a:visited, .apercuProduit a:hover {
    text-decoration: none;
}

.infosProduit{
    padding: 5%;
}

.connect{
    color: #ffffff;
    font-size: 2em;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    margin: 0;
    padding: 0 4%;
}

.libelleConnect{
    color: #ffffff;
}

.prixArticle{
    font-weight: bold;
}

.apercuProduit {
    color: black;
    background-color: #EDEDED;
    font-family: "Segoe UI", sans-serif;
    order: 9999;
    width: 17%;
    padding: 1%;
    margin-top: 1.3%;

}
.addToCart{
    float: right;
}

.button {
    margin: auto;
    background-color: #008BCD;
    color: #fff;
    padding: 5px;
    height: 6%;
    border: none;
}

.button:hover {
    cursor: pointer;
}

.nombreProduit {
    width: 15%;
    height: 6%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    border: none;
    background-color: white;
}

.produitRecherche {
    order : 1;
}

.infosProduit p{
    margin: 0 0 10px 0;
}

.apercuProduit a{
    cursor: pointer;
    text-decoration: underline;
}

.userConnect{
    width: 33%;
    text-align: center;
    margin: 2% 0;
}

.apercuProduit .fa-plus-circle, .fa-spinner {
    font-size: 35px;
    padding: 3%;
    color: #009ED7;
    transition: all linear 0.3s;
}

#gestionBoutiques{
    text-align:center;
    cursor: pointer;
}

.apercuProduit .fa-user-circle{
    color: #009ED7;
    font-size: 35px;
    margin-right: 6px;
}

.fa-spinner {
    animation: rotate 2s infinite;
    -webkit-animation: rotate 2s infinite;
}

.apercuProduit .fa-plus-circle:hover {
    transform: scale(1.3);

}

#affichageErreur {
    position: fixed;
    width: 45%;
    height: 45%;
    left: 27.5% ;
    z-index: 2000;
    top: 27.5%;
}

.redirectDetail{
    text-align: center;
}

#messageErreur {
    min-height: 30%;
    text-align: center;
    background-color: #ffffff;
    font-family: "Segoe UI", sans-serif;;
    padding: 4%;
    border-radius: 14px;
    border: 2px solid #003E5B;
}

#codeErreur {
    position: absolute;
    bottom: 7vh;
    right: 1vw;
    background-color: #003E5B;
    color: #fff;
    font-family: "Segoe UI", sans-serif;
}

#contenuPanier{
    padding: 3%;
    padding-top: 5%;
}

#gestionBoutiques .fa{
    margin-right: 9%;
}

#affichageOk {
    position: fixed;
    width: 45%;
    height: 45%;
    left: 27.5% ;
    z-index: 2000;
    top: 27.5%;
}

#messageOk {
    min-height: 30%;
    text-align: center;
    background-color: #ffffff;
    font-family: "Segoe UI", sans-serif;;
    padding: 4%;
    border-radius: 14px;
    border: 2px solid #003E5B;
}

.closingModale{
    position: absolute;
    top: 0;
    background-color: #003E5B;
    color:#fff;
    padding: 1%
}


#affichageErreur a:hover,
#affichageOk a:hover{
    cursor: pointer;
}

.panier {
    background-color: #003E5B;
    position: absolute;
    right: 1%;
    top: 75px;
    color: #fff;
    padding: 0.5%;
    width: 2%;
}

.closerPanier{
    top:3%;
    right: 3%;
    font-size: 150%;
    position: absolute;
}

.traitBlanc{
    background-color: #ffffff;
    width: 100%;
    height: 1px;
    margin: 4% auto;
}

.fa-cart-arrow-down{
    font-size: 200%;
    padding: 10%;
}

.imagePanier{
    width: 15%;
    height: 15%;
}

#affichePanier:hover {
    cursor: pointer;
}

#tablePanier td{
    border: 1px solid black;
    text-align: center;
    padding: 2%;
}

#affichageCompte {
    cursor: pointer;
    margin-right: 4%;
    font-size: 1.5em;
    color: #009ED7;
}

#gestionProduits {
    cursor: pointer;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 3vh;
    background-color: #009ED7;
    padding: 1% 1% 1% 5%;
}

#gestionProduits i {
    font-size: 1.5em;
    position: absolute;
    margin-right: 3%;
    left: 8%;
    top: 25%;
}

.blocPanier{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4%;
}
.total{
    display: inline-block;
    float: right;
}



/************************************************/
/****************** ANIMATIONS ******************/
/************************************************/

@keyframes rotate {
    0%{
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

/************************************************/
/****************** ANIMATIONS ******************/
/************************************************/

