:root {
    --police-titre: "Proza Libre script=all rev=2", "Adobe Blank", sans-serif;
    --police-texte: "Segoe UI", sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    font-family: arial;
}

header {
    width: 100%;
    min-height: 60px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    background-color: #003E5B;
    flex-wrap: wrap;
}

header div.compte {
    color: #fff;
    height: 100%;
}

.extremite {
    width: 200px;
}

header input {
    text-align: center;
    height: 50px;
    margin-top: 3px;
    width: 350px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 1.2em;
}

.blurFullScreen {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

#btnConnexion {
    float: right;
    cursor: pointer;
    display: block;
    height: 100%;
    line-height: 60px;
    vertical-align: middle;
    padding-right: 10px;
}

#formulaireConnexion .content {
    position: fixed;
    width: 80%;
    left: 10%;
    top: 10%;
    background-color: #fff;
    display: flex;
}

#formulaireConnexion .content form {
    width: 50%;
    display: block;
    padding: 20px;
    color: #000;
}

#formulaireConnexion .content form legend {
    font-size: 2.5em;
    text-align: center;
}


#formulaireConnexion .content form input {

}

#formulaireConnexion .content form input {
    width: 80%;
    display: block;
    margin: auto;
    padding: 10px;
    font-size: 1.6em;
    margin-top: 20px;
    border: 0 solid black;
    border-radius: 5px;
}


.hide{
    display: none;
}

.show{
    display:block;
}

#boutique {
    display: flex;
    flex-flow: row wrap;
}

#boutique a, a:visited, a:hover {
    text-decoration: none;
    color: white;
}

.apercuProduit {
    text-align: center;
    border: 1.1vw solid white;
    background: tomato;
    padding: 1%;
    font-family: var(--police-texte);
}

.button {
    margin: auto;
    background-color: #008BCD;
    color: #fff;
    padding: 5px;
    height: 6%;
    border: none;
}

.nombreProduit {
    width: 15%;
    height: 6%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    border: none;
    background-color: white;
}

