body {
    font-family: Arial;
    background-image: url('../img/min/musee.jpg');
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    margin: 0;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

#content form {
    width: 300px;
    margin: 0;
    display: block;
    padding: 10px;
    color: #000;
    background-color: rgba(255, 255, 255, .7);
}

#content form legend {
    font-size: 1.5em;
    text-align: center;
}


#content form input[type="submit"] {
    background-color: #003E5B;
    color: #fff;
    cursor: pointer;
}

#content form input {
    width: 80%;
    display: block;
    margin: auto;
    padding: 10px;
    font-size: 1.2em;
    margin-top: 20px;
    border: 0 solid black;
    border-radius: 5px;
}

