/*
 * CSS de la navbar
 */

/* NAVBAR */
#menu_haut {
    font-family: "Segoe UI", sans-serif;
    z-index: 9999999;
    position: fixed;
    width: inherit;
    height: 8%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin: 0;
    padding: 0;
    top: 0;
    box-shadow: 0 1vh 0.5vh 0 rgba(0,0,0,0.3)
}

.buttonModif{
    border: none;
    background-color: #009ED7;
    color: #fff;
    padding: 2%;
    text-decoration: none;
}

#menu_haut span {
    font-size: 60%;
    color: #008bcd;
}

.nav_item {
    display: block;
    width: calc(100% / 8);
}

.nav_item img, .nav_item .nav_txt {
    position: relative;
    display: block;
    text-align: center;
    margin: auto;
    height: 30%;
    line-height: 50%;
    overflow: hidden;
    font-size: 2vw;
}
.nav_item img {
    padding-top: 1%;
    height: 50%;
}

.nav_item .nav_txt {
    padding-top: 3%;
    height: 30%;

}

.nav_item:link, .nav_item:visited {
    text-decoration: none;
    color : #AEC8DA;
}

.nav_item:hover{
    cursor: pointer;
    text-decoration: none;
}
/* FIN NAVBAR */


#btnConnexion {
    color: #000;
    position: fixed;
    top: 8%;
    right: 0;
    padding: 10px;
    background-color: #003E5B;
}

#btnConnexion:hover {
    background-color: #044767;
    color: #AEC8DA;
}

.swicthLangue {
    color: #ffffff;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: #003E5B;
    text-decoration: none;
}
.swicthLangue img {
    width: 60px;
    height: 50px;
    float: right;
}

#btnDeconnexion {;
    color: #000;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    background-color: #003E5B;
}

#btnConnexion a,
#btnDeconnexion a,
#btnConnexion a:visited,
#btnDeconnexion a:visited {
    color: #fff;
    text-decoration: none;
}

#buttonsMap {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

#buttonsMap button {
    border: 0;
    background-color: rgb(0,139,205);
    margin: 5px;
    color: #fff;;
    padding: 5px;
}

