/*
 * @author Jeremy Clapette
 * Fichier appelé pour l'affichage du panorama sur la page d'accueil
 *
 */
#panorama {
    width: 100%;
    height: 100%;
    background-image: url("../img/Panorama.jpg");
    -webkit-background-size: auto 100%;
    display: flex;
}

#panorama img {
    width: 100%;
    height: 100%;
}