:root {
    --color-fond: #008BCD;

}
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-fond);
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 2vw;
}

.hide{
    display: none;
}

.show{
    display:block;
}

.fleft{
    float: left;
}

.tcenter{
    text-align: center;
}

.moitie {
    width: 50%;
    border: 0;
    margin: 0;
    padding-top: 3%;
}

.clearfix{
    clear: both;
}


/* DEPLOIEMENT */

.wrap-titre-sous-container, h3 {
    color: var(--color-fond);
    margin-bottom: 4%;
    background-color: #F8FCFD;
    font-size: 3vw;
    font-family: "Proza Libre script=all rev=2", "Adobe Blank", sans-serif;
    display: table;
    width: 100%;
    box-shadow: 1vh 1vh 0.5vh 0 #AEC8DA;
}

.titre-sous-container{
    display: table-cell;
    vertical-align: middle;
}

.wrap-visuel{
    width: 50%;
    float: left;
}

.wrap-textuel{
    width:40%;
    float: left;
    background-color: #F8F8F8;
    box-shadow: 1vh 1vh 0.8vh 0 rgba(0,0,0,0.2);
    color: #000000;
    margin-left: 10%;
}

.sous-wrap-text p{
    font-weight: bold;
    text-align: center;
}

.sous-wrap-text{
    font-size: 1vw;
    padding: 1vw;
    text-align: justify;
}


.article{
    width:100%;
    max-height: 100%;
    transition: all .5s ease;
}

.article .explicatif{
    width: 50%;
    color: black;
    display: inline-block;
    transition: all .5s ease;
}

.imgArticle:hover {
    filter: saturate(250%) brightness(60%);
}

.imgArticle{
    width: 100%;
    box-shadow: 2vh 2vh 1vh 0 rgba(0,0,0,0.2);
}


.article .articleCollapse{
    display: inline-block;
    max-height: 0;
    transition: all .8s ease;
}

/* FIN DEPLOIEMENT */

#container{
    width: 67%;
    background-color: #CFD8DC;
    margin: 8% auto;
    box-shadow: 4vw 4.2vw 0 0 #003E5B;
}

.sous-container{
    margin-bottom:8%;
    background-color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    padding: 5%;
    box-shadow: 2vh 2vh 2vh 0 rgba(0,0,0,0.3);
}

#Contact.sous-container{
    margin-bottom: 0;
}

/* CONTENU */


/* FIN CONTENU */


/* PAGE CONTACT */
h3 {
    font-weight: normal;
    text-align: center;
}
/*
#contactInfos input {
    display: block;
    width: 80%;
    height: 9%;
    margin: auto;
    margin-bottom: 7.5%;
    padding: 1.5vw;
    font-size: 1.5vw;
}
*/
#contactInfos input, input[type="button"], #messageContact {
    line-height: 5vh;
    display: block;
    color: #fff;
    font-size: 1.2vw;
    width: 90%;
    margin: 1vw auto;
    color: #000;
    font-family: "Roboto";
    padding: 1vh;
    height: 7vh;
}

#messageContact {
    padding: 1vh;
    margin-bottom: 0;
    line-height: 4.6vh;
    height: 21.5vh;
}

input[type="button"] {
    padding: 0;
    margin-top: 0;
    color: #fff;
    background-color: #0076ff;
    border: none;
    width: 94%;
}


/* FIN PAGE CONTACT */

/* MENTIONS LEGALES */
#mentions_legales{
    color: #111;
    background-color: #fff;
    padding: 1vw;
    display: block;
    text-align: center;
}

#mentions_legales:hover{
    color: var(--color-fond);
}

#contenu_mentions_legales h1 {
    text-align: center;
}

#contenu_mentions_legales{
    padding: 1% 1% 1% 3%;
    width: 30vw;
    font-size: 1.6vw;
    margin-top: 2%;
    height: 40vw;
    background-color: #00bcd4;
    margin: auto;
    box-shadow: 2vh 2vh #044767;
}

#contenu_mentions_legales a {
    position: relative;
    display: block;
    background-color: var(--color-fond);
    margin: auto;
    width: 80%;
    padding: 1vw;
    margin-top: 3vw;
    text-align: center;
}

#contenu_mentions_legales a:hover {
    color: #fff;
    text-shadow: 0  0 4px #000;
}

#retour_site:hover{
    color: #00bcd4;
}

#retour_site{
    color: white;
    font-size: 2vh;
}
/* MENTIONS LEGALES */

#errorMail {
    color : red !important;
    float: right;
    margin-right: 16%;
    line-height: 1.5vw;
    padding: 2vw;
    font-size: 1.5vw;
}

.flexbox {
    display: flex;
}