h1
{
	margin: 0px;
}

h2
{
	padding-left: 50px;
	margin: 0px;
}

.map {
	float: left;
	width: 25%;
	margin: 0% 4%;
}

#carteFamille
{
	margin: auto;
	height:80%;
}

#carteSportif
{
	margin: auto;
	height:80%;
}

#carteCulturel
{
	margin: auto;
	height:80%;
}